<form method="post" action="/form">

  <div>
    <label for="zone_number">Zone:</label>
    <input type="text" id="zone_number" name="zone_number" />
  </div>

  <div class="price">

  </div>

  <div class="time_limit">

  </div>

  <div>
     <label for="plate_state">Plate State:</label>
     <input type="text" id="plate_state" name="plate_state" />
   </div>

   <div>
      <label for="plate_number">Plate Number:</label>
      <input type="text" id="plate_number" name="plate_number" />
    </div>

    <div>
       <label for="duration">Duration:</label>
       <input type="text" id="duration" name="duration" />
     </div>

     <div>
        <label for="cgnumber">CG number:</label>
        <input type="text" id="cgnumber" name="cgnumber" />
      </div>

      <div>
        <input type="hidden" id="price" name="price" value="">
      </div>

      <div>
        <input type="hidden" id="time_limit" name="time_limit" value="">
      </div>

      <div class="total_price">

      </div>

   <button type="submit">Submit</button>

  </form>
