<!--   <h1>Zone 3</3> -->

  <form method="post" action="/form">

    <div>
      <label for="zone_number">Zone:</label>
      <input type="text" id="zone_number" name="zone_number" />
    </div>

   <div>
     <label for="price">Price:</label>
     <input type="text" id="price" name="price" />
   </div>

  <div>
     <label for="time_limit">Time Limit:</label>
     <input type="text" id="time_limit" name="time_limit" />
   </div>

  <div>
     <label for="plate_state">Plate State:</label>
     <input type="text" id="plate_state" name="plate_state" />
   </div>

   <div>
      <label for="plate_number">Plate Number:</label>
      <input type="text" id="plate_number" name="plate_number" />
    </div>

    <div>
       <label for="duration">Duration:</label>
       <input type="text" id="duration" name="duration" />
     </div>

     <div>
        <label for="cgnumber">CG number:</label>
        <input type="text" id="cgnumber" name="cgnumber" />
      </div>

   <button type="submit">Submit</button>

   <h1>{{x}}</h1>

  </form>

  <script>
   var x ="Zone 3"
  </script>

