  <form method="post" action="/form">

    <div>
      <label for="zone">Zone:</label>
      <input type="text" id="zone_number" name="zone_number" />
    </div>

   <div>
     <label for="license">License:</label>
     <input type="text" id="license" name="license" />
   </div>

   <button type="submit">Submit</button>

  </form>
