<h3>Success!!!</h3>
<br/>
<h3>You've got a spot</h3>
<br/>

<h3>You have a spot in zone {{zone}}</hr>
<br>
<h3>You paid ${{price}}</h3>
<br>
<h3>You paid for {{time}} hour(s)</h3>
<br>
<div><a href="/">Go home</a></div>
