<h1>Please Insert Your Zone</h1>
<form action="/zone_search" method="get">
  <div>
      <input type="text" name="zone_search" id="zone_search">
  </div>
  <button type="submit">Submit</button>
</form>
