<h1>Welcome to the driver's login</h1>
<h3>Enter your username</h3>

<form method="post" action="/login/drivers/">
  <div>
     <label for="email">Email:</label>
     <select name="email">
     	<option value="katie@ga">katie@ga</option>
     	<option value="ross@ga">ross@ga</option>
     	<option value="john@ga">john@ga</option>
     	<option value="jason@ga">jason@ga</option>
     </select>
   </div>

   <button type="submit">Login</button>

  </form>
